<div class="row">
  <div class="col-sm-2" style="position: fixed; left: 0;">
    <h5>Chatrooms</h5>
    <div class="list-group">
      <% current_user.chatrooms.each do |chatroom| %>
        <%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id}, class: "list-group-item list-group-item-action"%>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 offset-sm-3">
    <ul class="list-group">
      <% @chatrooms.each do |chatroom| %>
        <li class="list-group-item">
          <h5 style="display: inline-block; float: left;"><%= chatroom.name %>
          <small><%= if !chatroom.description then "No description" else chatroom.description[0..40] end %></small>
          </h5>
          <div>
            <% if chatroom.member?(current_user) %>
              <%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete, class: "btn btn-dark",  style: "float: right" %>
            <% else %>
              <%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post, class: "btn btn-primary",  style: "float: right" %>
            <% end %>
          </div>
        </li>
    <% end %>
    </ul>
    <br/>
    
    <%= link_to 'New Chatroom', new_chatroom_path, class: "btn btn-light btn-block btn-lg" %>
    </div>
</div>



