<!DOCTYPE html>
<html>
  <head>
    <title>Livepost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <p class="notice alert-info"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>
    <main role="main" class="fluid-container" style="margin-top: 50px;">
      <%= yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
